<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property><!-- DB Driver -->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/RPBD</property><!-- BD Mane -->
        <property name="hibernate.connection.username">postgres</property><!-- DB User -->
        <property name="hibernate.connection.password">9628117193Rk</property><!-- DB Password -->
        <property name="show_sql">false</property> <!-- Show SQL in console -->
        <property name="format_sql">true</property> <!-- Show SQL formatted -->
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <property name="hibernate.current_session_context_class">thread</property>
    </session-factory>
</hibernate-configuration>